﻿.title{
    text-align:center;
}

.center{
    text-align:center;
}

.buttonLink{
    border: 1px solid blue;
    border-radius: 15px;
    background-color:lightblue;
    margin:5px;
}

.hidden{
    display: none;
}
strong {
    color: #659E7A;
}
/*table content*/
.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Arial, Helvetica, sans-serif;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    
}

td:first-child{
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/*form content*/
#myform{
    display:block;
    border: 1px solid black;
    border-radius: 10px;
}

.row{
    display:block;
}
.label {
    text-align: right;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
    width: 40%;
    color: black;
    font-size: 1em;
}
.right-side {
    margin: 10px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 48%;
}
#submit {
    background-color: #59ACE0;
    color: white;
    border: solid;
    border-radius: 5px;
    height: 50px;
    width: 80px;
    font-size: 1em;
    margin: 10px;
}