﻿@model PassionProject_N01329942.Models.ViewModels.TeamEdit
@{
    ViewBag.Title = "Add";
}
<div class="title">
    <h2>Add a New Team</h2>
</div>


<form method="POST" action="/Team/Create" id="myform">
    <div class="row">
        <div class="label">
            <label>Team Name: </label>
        </div>
        <div class="right-side">
            <input type="text" id="TeamName_New" name="TeamName_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Established Date: </label>
        </div>
        <div class="right-side">
            <input type="text" id="EstablishDate_New" name="EstablishDate_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Country Name: </label>
        </div>
        <div class="right-side">
            <select id="CountryID_New" name="CountryID_New">
                @foreach (var country in Model.countries)
                {
                    <option value="@country.CountryID">@country.CountryName</option>
                }
            </select>
        </div>
    </div>
    <div class="row center">
        <input type="submit" value="ADD" id="submit" />
    </div>
</form>
<div class="center">
    <button class="buttonLink">@Html.ActionLink("Back to Teams list", "Index")</button>
</div>