﻿@model PassionProject_N01329942.Models.Team
@{
    ViewBag.Title = "Delete";
}
<div class="title">
    <h2>Delete a Team</h2>

    <h2>Do you want to delete this team from the list ?</h2>

    <h4>@Html.DisplayFor(model => model.TeamName)</h4>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="center">
        <input type="submit" value="Delete" id="submit" />
    </div>
    <div class="center">
        <button class="buttonLink">@Html.ActionLink("Back to teams list", "List")</button>
    </div>
}


