﻿@model  PassionProject_N01329942.Models.Team
@{
    ViewBag.Title = "details";
}
<div class="title">
    <h2>Team details</h2>

    <h2><strong>@Model.TeamName</strong></h2>

    <h3>Was Established in <strong>@Model.EstablishDate</strong></h3>

    <h3>Plays in <strong>@Model.country.CountryName</strong></h3>
    
    <div>
        <button class="buttonLink">@Html.ActionLink("Back to team List", "Index")</button>
    </div>
</div>

