﻿@model PassionProject_N01329942.Models.ViewModels.TeamEdit
@{
    ViewBag.Title = "Edit";
}

<div class="title">
    <h2>Edit</h2>


    <form method="POST" action="@Model.team.TeamID">
        <div class="row hidden">
            <div class="label">
                <label>Team Name:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.team.TeamName" id="TeamName_Edit" name="TeamName_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Establish Date:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.team.EstablishDate" id="EstablishDate_Edit" name="EstablishDate_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Country Name:</label>
            </div>
            <div class="right-side">
                <select id="CountryID_Edit" name="CountryID_Edit">
                    @foreach (var country in Model.countries)
                    {
                        <option value="@country.CountryID"
                            @if(country.CountryID == Model.team.country.CountryID)
                            {
                                var selected = "selected";
                                @selected;
                            }>
                            @country.CountryName
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" id="submit" />
        </div>
    </form>

</div>
<div class="center">
    <button class="buttonLink">@Html.ActionLink("Back to Teams list", "List")</button>
</div>
    


