﻿@model IEnumerable<PassionProject_N01329942.Models.Team>
<!-- We have used IEnumerable interface since we will have a
    rendering loop to iterate through Team database-->
@{
    ViewBag.Title = "Teams";
}
<div class="title">
    <h2>Teams</h2>

    <button class="buttonLink">@Html.ActionLink("Add a new Team", "Add", "Team")</button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstablishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country.CountryName)
        </th>
        <th>
            Features
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstablishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country.CountryName)
            </td>

            <td>
                @Html.ActionLink("Details", "details", new { id = item.TeamID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.TeamID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeamID })
            </td>
        </tr>
    }
</table>


