﻿@model PassionProject_N01329942.Models.Country
@{
    ViewBag.Title = "Add";
}

<h2 class="title">Add a New country</h2>

<form method="POST" action="/Country/Create" id="myform">
    <div class="row">
        <div class="label">
            <label>Country Name: </label>
        </div>
        <div class="right-side">
            <input id="CountryName_New" name="CountryName_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>World Cup Participation: </label>
        </div>
        <div class="right-side">
            <input id="WCparticipate_New" name="WCparticipate_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Number of World cup(s) won: </label>
        </div>
        <div class="right-side">
            <input id="WCnumber_New" name="WCnumber_New" />
        </div>
    </div>
    <div class="row center">
        <input type="submit" value="ADD"  id="submit"/>
    </div>
</form>
<div class="center">
    <button class="buttonLink">@Html.ActionLink("Back to Countries list", "Index")</button>
</div>