﻿@model PassionProject_N01329942.Models.Country
@{
    ViewBag.Title = "Delete";
}
<div class="title">
    <h2>Delete</h2>

    <h2>Do you want to delete this country from the list ?</h2>

    <h4>@Html.DisplayFor(model => model.CountryName)</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="center">
        <input type="submit" value="Delete" id="submit"/>
    </div>
    <div class="center">
        <button class="buttonLink">@Html.ActionLink("Back to Countries list", "Index")</button>
    </div>
}