﻿@model PassionProject_N01329942.Models.Country
@{
    ViewBag.Title = "details";
}
<div class="title">
    <h2>Country details</h2>

    <h2><strong>@Model.CountryName</strong></h2>

    <h3>Has won World Cup Trophy  <strong>@Model.WCnumber</strong></h3>

    <h3>Been qualified for World cup <strong>@Model.WCparticipate</strong></h3>
    <div>
        <button class="buttonLink">@Html.ActionLink("Back to Countries List", "Index")</button>
    </div>
</div>

