﻿@model PassionProject_N01329942.Models.Country
@{
    ViewBag.Title = "Edit";
}
<div class="title">
    <h2>Edit </h2>
    
    <h2>@Model.CountryName</h2>
    <form method="POST" action="/Country/Edit/@Model.CountryID">
        <div class="row hidden">
            <div class="label">
                <label>Country ID:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.CountryID" id="CountryID_Edit" name="CountryID_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Country Name:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.CountryName" id="CountryName_Edit" name="CountryName_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>World Cup Participation:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.WCparticipate" id="WCparticipate_Edit" name="WCparticipate_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Number of world cup(s) won: </label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.WCnumber" id="WCnumber_Edit" name="WCnumber_Edit" />
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" id="submit" />
        </div>
    </form>

</div>
<div class="center">
    <button class="buttonLink">@Html.ActionLink("Back to Countries list", "Index")</button>
</div>