﻿@model IEnumerable<PassionProject_N01329942.Models.Country>
@{
    ViewBag.Title = "Index";
}
<div class="title">
    <h2 class="title">Countries</h2>

    <button class="buttonLink">@Html.ActionLink("Add a new Country","Add")</button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WCparticipate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WCnumber)
        </th>
        <th>
            Features
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WCparticipate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WCnumber)
        </td>

        <td>@Html.ActionLink("Details", "details", new { id = item.CountryID }) | 
            @Html.ActionLink("Edit", "Edit", new { id = item.CountryID }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.CountryID }) </td>
    </tr>
}
</table>
