﻿@model PassionProject_N01329942.Models.ViewModels.PlayerEdit
@{
    ViewBag.Title = "Add";
}
<div class="title">
    <h2>Add a New Player</h2>
</div>


<form method="POST" action="/Player/Create" id="myform">
    <div class="row">
        <div class="label">
            <label>Player First Name: </label>
        </div>
        <div class="right-side">
            <input type="text" id="PlayerFname_New" name="PlayerFname_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Player Last Name: </label>
        </div>
        <div class="right-side">
            <input type="text" id="PlayerLname_New" name="PlayerLname_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Player Age: </label>
        </div>
        <div class="right-side">
            <input type="text" id="PlayerAge_New" name="PlayerAge_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Player Nationality: </label>
        </div>
        <div class="right-side">
            <input type="text" id="PlayerNationality_New" name="PlayerNationality_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Player Position: </label>
        </div>
        <div class="right-side">
            <input type="text" id="PlayerPosition_New" name="PlayerPosition_New" required="required" />
        </div>
    </div>
    <div class="row">
        <div class="label">
            <label>Team Name: </label>
        </div>
        <div class="right-side">
            <select id="TeamName_New" name="TeamName_New">
                @foreach (var team in Model.teams)
                {
                    <option value="@team.TeamID">@team.TeamName</option>
                }
            </select>
        </div>
    </div>
    <div class="row center">
        <input type="submit" value="ADD" id="submit" />
    </div>
</form>
<div class="center">
    <button class="buttonLink">@Html.ActionLink("Back to Teams list", "Index")</button>
</div>
