﻿@model PassionProject_N01329942.Models.Player
@{
    ViewBag.Title = "Delete";
}
<div class="title">
    <h2>Delete a Player</h2>

    <h2>Do you want to delete this player from the list ?</h2>

    <h4>@Html.DisplayFor(model => model.PlayerFName) @Html.DisplayFor(model => model.PlayerLName) </h4>

</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="center">
        <input type="submit" value="Delete" id="submit" />
    </div>
    <div class="center">
        <button class="buttonLink">@Html.ActionLink("Back to teams list", "List")</button>
    </div>
}
