﻿@model  PassionProject_N01329942.Models.Player
@{
    ViewBag.Title = "details";
}
<div class="title">
    <h2>Player details</h2>

    <h2><strong>@Model.PlayerFName @Model.PlayerLName</strong></h2>

    <h3>Age is <strong>@Model.PlayerAge</strong></h3>

    <h3>He is from <strong>@Model.PlayerNationality</strong></h3>

    <h3>His position is <strong>@Model.PlayerPosition</strong></h3>

    <h3>He plays for <strong>@Model.team.TeamName</strong></h3>

    <div>
        <button class="buttonLink">@Html.ActionLink("Back to team List", "Index")</button>
    </div>
</div>
