﻿@model PassionProject_N01329942.Models.ViewModels.PlayerEdit
@{
    ViewBag.Title = "Edit";
}

<div class="title">
    <h2>Edit @Model.player.PlayerFName @Model.player.PlayerLName</h2>


    <form method="POST" action="@Model.player.PlayerID">
        <div class="row hidden">
            <div class="label">
                <label>Team Name:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.player.PlayerFName" id="PlayerFName_Edit" name="PlayerFName_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Establish Date:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.player.PlayerLName" id="PlayerLName_Edit" name="PlayerLName_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Establish Date:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.player.PlayerAge" id="PlayerAge_Edit" name="PlayerAge_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Establish Date:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.player.PlayerNationality" id="PlayerNationality_Edit" name="PlayerNationality_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Establish Date:</label>
            </div>
            <div class="right-side">
                <input type="text" value="@Model.player.PlayerPosition" id="PlayerPosition_Edit" name="PlayerPosition_Edit" />
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label>Team Name:</label>
            </div>
            <div class="right-side">
                <select id="TeamID_Edit" name="TeamID_Edit">
                    @foreach (var team in Model.teams)
                    {
                        <option value="@team.TeamID"
                                @if (team.TeamID == Model.player.team.TeamID)
                                {
                                    var selected = "selected"; @selected ;
                                }>
                            @team.TeamName
                        </option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" id="submit" />
        </div>
    </form>

</div>
<div class="center">
    <button class="buttonLink">@Html.ActionLink("Back to Teams list", "List")</button>
</div>

