﻿@model IEnumerable<PassionProject_N01329942.Models.Player>
    <!-- We have used IEnumerable interface since we will have a 
        rendering loop to iterate through Player database to
        get the content of the database-->
@{
    ViewBag.Title = "List";
}
<div class="title">
    <h2>Players</h2>

    <button class="buttonLink">@Html.ActionLink("Add a new Player", "Add", "Player")</button>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team.TeamName)
        </th>
        <th>
            Features
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerNationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.TeamName)
        </td>
        <td>
            @Html.ActionLink("Details", "details", new { id = item.PlayerID }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.PlayerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlayerID })
        </td>
    </tr>
    }
</table>


